* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A0029;
  padding: 3vh 1.5vw;
}
header .logo {
  flex-grow: 1;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 50vw;
}

nav a {
  padding: 2vh 2.5vw;
  margin: 0 1vw;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #F6688B;
}
nav a:last-child {
  background-color: #F6688B;
  border-radius: 2px;
}
nav a:last-child:hover {
  color: #0A0029;
}

.filter {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  width: 20vw;
  padding: 2vh 1vw;
  background-color: #F9F8F4;
  color: #b8b4b4;
  min-height: 100vh;
}
.filter .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.filter .controls h3 {
  color: #50565C;
  font-size: 0.95rem;
  font-weight: 700;
}
.filter .controls .dropdown-group{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.filter .controls .dropdown-group select {
  outline: none;
  border: 1px solid #e8e5e2;
  background: #F9F8F4;
  color: #b8b4b4;
  border-radius: 2px;
  padding: 1.4vh;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filter .controls .dropdown-group select option {
  color: #b8b4b4;
  background: #F9F8F4 !important;
  font-weight: 500;
}

.filter .controls .range-group {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.filter .controls .range-group label {
  font-weight: 700;
  font-size: 0.9rem;
}
.filter .controls .checkbox-group{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.filter .controls .checkbox-group label {
  border-bottom: 1px solid #e8e5e2;
  padding-bottom: 2vh;
  font-weight: 500;
  font-size: 0.8rem;
}
.filter .controls .checkbox-group label input {
  float: right;
}
.results {
  margin-top: 5vh;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  flex: 78.5vw;
  flex-wrap: wrap;
}
.results .propertyCardWrapper {
  display: flex;
  flex: 30%;
  height: 35vh;
  margin: 1vw;
  border-radius: 3px;
}
img {
  width: 100%;
  border-radius: 5px;
}
